@model PickAny.Models.LoginModel
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <div class="form-group m-b-20">
        @Html.TextBoxFor(c => c.UserName, new { @class = "form-control uname", @required = "required" })
        @Html.ValidationMessageFor(c => c.UserName)
    </div>
    <div class="form-group m-b-20">
        @Html.TextBoxFor(c => c.Password, new { @class = "form-control pass", @required = "required", @type = "password" })
        @Html.ValidationMessageFor(c => c.Password)
    </div>
    <div class="checkbox m-b-20">
        <label>
            @Html.CheckBoxFor(m => m.RememberMe)
            RememberMe
        </label>
    </div>

    <div class="login-buttons">
        <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
    </div><br />
    @*<div class="form-group form-actions">
            <a class="forgot" href="#FPModel" data-toggle="modal" data-target="#FPModal">
                Forgot Password
            </a>
        </div>*@
}
