
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    @*<title>@ViewBag.Title</title>*@
    <title>:: Pick Any ::</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="shortcut icon" href="~/Images/logo.png">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/theme/default.css" rel="stylesheet" id="theme" />

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/Scripts/select2/select2.css" rel="stylesheet" />
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <!-- ================== END PAGE LEVEL STYLE ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    @*<a href="/home/index" class="navbar-brand"><span><img src="#" height="50" width="180" /></span></a>*@
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <text>
                            @{Html.RenderAction("Notification", "Home");}
                            <li class="dropdown navbar-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Images/123.png" alt="" />
                                    <span class="hidden-xs">Welcome @User.Identity.Name</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li class="arrow"></li>
                                    @{
                                        var username = WebSecurity.CurrentUserName;
                                        var role = Roles.GetRolesForUser(username)[0];
                                    }

                                    @if (role == "Administrator")
                                    {
                                        <li><a href="/user/updateprofile">Update Profile</a></li>
                                    }
                                    <li><a href="/account/manage">Change Password</a></li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                    <li>
                                        <a href="javascript:;document.getElementById('logoutForm').submit()">Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </text>
                                        }
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        @*@Html.Partial("_Menu")*@
        @Html.Partial("_Sidebar")
        <div class="sidebar-bg">
        </div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        @RenderBody()
        <!-- end #content -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <!-----------------------Data Table Js----------------------------------------->
    <script src="~/plugins/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/buttons.colVis.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/buttons.flash.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/jszip.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/pdfmake.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/vfs_fonts.js"></script>
    <script src="~/plugins/DataTables/buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/DataTables/buttons/js/buttons.print.min.js"></script>
    <!---------------------------------------------------------------------------------->

    <script src="~/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/apps.js"></script>
    <script src="~/Scripts/select2/select2.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/multifieldwrapper.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @*<script src="~/Scripts/utility.js"></script>*@
    <!-- ================== END PAGE LEVEL JS ================== -->
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            App.init();
            InitCloning();

            if (!Modernizr.inputtypes.date) {
                $('input[type=date]').datepicker({
                    dateFormat: 'yy-mm-dd'
                }
                    //$.datepicker.regional['in']
                );
            }
            $(".select2").select2();
            $("#overlay").hide();
            dttable();
        });
        //DataTable
        function dttable() {
            debugger;
            $('.Srchtable').DataTable({
                dom: 'Bfrtip',
                stateSave: true,
                lengthMenu: [
				  [25, 35, 50, -1],
				  ['25 rows', '35 rows', '50 rows', 'Show all']
                ],
                buttons: [
					'colvis', 'pageLength', 'copy', 'excel', 'print'
                ]
            });
        }
    </script>
</body>
</html>
